#inputGroupFile {
    background-color: #1786FF;
}

#footer {
    padding: 0;
}

.error {
    background-color: red;
    float: inherit;
    text-align: center;
    width: auto;
}

.info {
    background-color: greenyellow;
    float: inherit;
    text-align: center;
    width: auto;
}