html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#flash.error {
    background-color: red;
    float: inherit;
    text-align: center;
    width: auto;
}

#flash.info {
    background-color: greenyellow;
    float: inherit;
    text-align: center;
    width: auto;
}

.btn {
    color: black;
    background-color: #ff9c1b;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: black;
    background-color: #ff9c1b;
    border-color: #ff9c1b;
}

.btn-primary:focus, .btn-primary.focus {
    color: black;
    background-color: #ff9c1b;
    border-color: #ff9c1b;
}

.btn-primary:hover {
    color: black;
    background-color: #ff9c1b;
    border-color: #ff9c1b;
}